@tailwind base;

@layer base {
  body {
    font-family: "Cormorant Garamond", serif;
    display: flex;
    flex-direction: column;
    align-content: space-between;
  }
  h1,
  h2,
  h3,
  h4,
  .Roboto {
    font-family: "Roboto", sans-serif;
  }
  h1 {
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 700;
    color: #0b162c;
  }
  h2 {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
    color: #0b162c;
  }
  h3 {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 700;
    color: #0b162c;
  }
  main {
    color: #3b556d;
  }
}

@tailwind components;
@tailwind utilities;

.sticky {
  @apply fixed;
}
.blueMenu {
  @apply bg-white-800 text-darkblue;
}
.question {
  @apply flex flex-row justify-between items-center py-2 space-x-4 cursor-pointer uppercase text-blue;
}

.reponse {
  @apply hidden text-xl text-navyblue;
}
.visible {
  @apply block;
}
#myMap {
  @apply h-[300px] z-10 md:h-[600px];
}
#articles {
  @apply mx-4 my-4 flex flex-col justify-center items-center gap-y-6 md:grid md:grid-cols-3 md:justify-center md:gap-x-4;
}
#article {
  @apply mx-6 mb-6 flex flex-col justify-between gap-y-6 md:grid md:grid-cols-[60%,40%] md:space-x-6;
}
.article {
  @apply max-w-md flex flex-col justify-center;
}

.imgArticle {
  @apply w-full;
}
.informationArticle {
  @apply flex flex-col;
}
.headerArticle {
  @apply flex flex-col md:flex-row md:justify-between;
}
.descriptionArticle {
  @apply pt-2 flex flex-row justify-between items-center;
}

.titleArticle {
  @apply text-darkblue text-2xl font-bold;
}

.dateArticle {
  @apply text-blue text-base;
}
#resumeArticle {
  @apply py-6;
}

#artists {
  @apply mx-4 my-4 flex flex-col justify-center items-center gap-y-6 md:grid md:grid-cols-3 md:justify-center md:items-start md:gap-x-4;
}
#artist {
  @apply mx-6 mb-6 flex flex-col justify-between gap-y-6 md:grid md:grid-cols-[60%,40%] md:space-x-6;
}

.artist {
  @apply max-w-md relative flex flex-col justify-center;
}

.informationArtist {
  @apply flex flex-col;
}

.headerArtist {
  @apply flex flex-col gap-y-1;
}

.descriptionArtist {
  @apply absolute bottom-0 z-10 pl-2 flex flex-col justify-start;
}

.nameArtist {
  @apply text-lightblue text-2xl font-bold;
}

.dateArtists {
  @apply text-white text-xl font-medium;
}

.dateArtist {
  @apply text-darkblue text-2xl font-semibold;
}

.horaireArtist {
  @apply text-blue text-xl font-semibold;
}

.sceneArtist {
  @apply text-blue text-xl font-semibold;
}

.imgArtists {
  @apply w-full rounded-lg;
}

.imgArtist {
  @apply w-full rounded-lg;
}

.resumeArtist {
  @apply py-6;
}

#btnActiveProg {
  @apply h-10 px-5 outline-none bg-lightblue-900 text-darkblue ring ring-darkblue;
}
#btnActiveProg1 {
  @apply h-10 px-5 outline-none bg-lightblue-900 text-darkblue ring ring-darkblue;
}
