@tailwind base;

@layer base {
  body {
    font-family: "Cormorant Garamond", serif;
    display: flex;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
  }
  h1,
  h2,
  h3,
  h4,
  .Roboto {
    font-family: "Roboto", sans-serif;
  }
  h1 {
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 700;
    color: #0b162c;
  }
  h2 {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
    color: #0b162c;
  }
  h3 {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 700;
    color: #0b162c;
  }
  main {
    color: #3b556d;
  }
}

@tailwind components;
@tailwind utilities;

.sticky {
  @apply fixed;
}
.blueMenu {
  @apply bg-white-800 text-darkblue shadow-md;
}
.question {
  @apply flex flex-row justify-between items-center py-2 space-x-4 cursor-pointer uppercase text-blue;
}

.reponse {
  @apply hidden text-xl text-navyblue;
}
.visible {
  @apply block;
}

#myMap {
  @apply h-[300px] z-10 md:h-[600px];
}
.layers-control-img {
  @apply max-w-4 max-h-4 inline-flex cursor-pointer overflow-hidden mx-2;
}

#articles {
  @apply mx-4 my-4 flex flex-col justify-center items-center gap-y-6 md:grid md:grid-cols-3 md:justify-center md:gap-x-4;
}
#article {
  @apply mx-6 mb-6 text-base flex flex-col justify-between gap-y-6 md:text-xl md:grid md:grid-cols-[60%,40%] md:space-x-6;
}
.article {
  @apply max-w-md flex flex-col justify-center;
}
.linkArticle {
  @apply transform transition-all duration-300 hover:opacity-80 hover:scale-105;
}
.imgArticles {
  @apply w-full rounded-lg;
}
.imgArticle {
  @apply w-full rounded-lg;
}
.informationArticle {
  @apply flex flex-col;
}
.headerArticle {
  @apply flex flex-col md:flex-row md:justify-between;
}
.descriptionArticle {
  @apply pt-2 flex flex-row justify-between items-center;
}

.titleArticle {
  @apply text-darkblue text-2xl font-bold;
}

.dateArticle {
  @apply text-blue text-base;
}
#resumeArticle {
  @apply py-6;
}

#artists {
  @apply mx-4 my-4 flex flex-col justify-center items-center gap-y-6 md:grid md:grid-cols-3 md:justify-items-center md:gap-x-4;
}
.artist {
  @apply max-w-full h-auto relative flex flex-col justify-center animate-fadeinup;
}
.image-list {
  @apply flex flex-row gap-x-4 overflow-hidden;
}
.artistProg {
  @apply relative;
}
.imgArtistsProg {
  @apply max-w-max h-[300px] object-cover rounded-lg;
}
#artists .artist.hide {
  @apply hidden;
}
#artist {
  @apply mx-6 mb-6 text-base flex flex-col items-center justify-between gap-y-6 md:text-xl md:flex-row md:items-start md:justify-center md:space-x-12;
}
.linkArtist {
  @apply transform transition-all duration-300 hover:opacity-80 hover:scale-105;
}
.informationArtist {
  @apply max-w-full flex flex-col;
}
.headerArtist {
  @apply flex flex-col gap-y-1;
}
.descriptionArtist {
  @apply absolute bottom-0 z-10 pl-2 flex flex-col justify-start;
}
.nameArtist {
  @apply text-lightblue text-2xl font-bold;
}
.dateArtists {
  @apply text-white text-xl font-bold;
}
.dateArtist {
  @apply text-darkblue text-2xl font-semibold;
}
.horaireArtist {
  @apply text-blue text-xl font-semibold;
}
.sceneArtist {
  @apply text-blue text-xl font-semibold;
}
.imgArtists {
  @apply w-[325px] h-[400px] object-cover rounded-lg;
}
.imgArtist {
  @apply max-w-full h-full rounded-lg md:max-w-[400px];
}
.resumeArtist {
  @apply py-6;
}

#filterButtonArtist {
  @apply text-white bg-navyblue;
}

#filterButtonArtist:hover {
  @apply text-darkblue bg-lightblue-900 ring ring-darkblue;
}

#filterButtonArtist.active {
  @apply text-darkblue bg-lightblue-900 ring ring-darkblue;
}

#filterButtonArticle {
  @apply text-white bg-navyblue;
}

#filterButtonArticle:hover {
  @apply text-darkblue bg-lightblue-900 ring ring-darkblue;
}

#filterButtonArticle.active {
  @apply text-darkblue bg-lightblue-900 ring ring-darkblue;
}

#filterButtonsArtist {
  @apply text-white bg-navyblue;
}

#filterButtonsArtist:hover {
  @apply text-darkblue bg-lightblue-900 ring ring-darkblue;
}

#filterButtonsArtist.active {
  @apply text-darkblue bg-lightblue-900 ring ring-darkblue;
}
#filterButtonsPlanning {
  @apply text-white bg-navyblue;
}

#filterButtonsPlanning:hover {
  @apply text-darkblue bg-lightblue-900 ring ring-darkblue;
}

#filterButtonsPlanning.active {
  @apply text-darkblue bg-lightblue-900 ring ring-darkblue;
}
#filterButtonsSubLevel button {
  @apply text-white bg-navyblue;
}

#filterButtonsSubLevel button:hover {
  @apply text-darkblue bg-lightblue-900 ring ring-darkblue;
}

#filterButtonsSubLevel button.active {
  @apply text-darkblue bg-lightblue-900 ring ring-darkblue;
}
#planning {
  @apply mx-4 my-4 flex flex-col justify-items-center gap-y-6 md:grid md:grid-cols-3 md:justify-items-center md:gap-x-4;
}
.artistHour {
  @apply mx-4 h-28 w-full bg-blue rounded-lg md:w-72;
}
.linkArtistHour {
  @apply p-2 grid grid-cols-2 content-center justify-items-start gap-2;
}
.imgArtistHour {
  @apply h-24 w-20 object-cover rounded-md;
}
.descriptionArtistHour {
  @apply flex flex-col justify-center;
}
.nameArtistHour {
  @apply text-lightblue text-xl font-bold;
}
.horaireArtistHour {
  @apply text-white text-xl font-semibold;
}
.imgPartner {
  @apply max-w-full h-[100px];
}
